@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url("style/font/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf") format(ttf);
}

body {
  font-size: 13px;
  font-family: 'BarlowSemiCondensed', sans-serif;
  background-color: #E5E5E5;
}

.wrapper {
  background-color: #ecf2f8;
  opacity: 96%;
  -webkit-box-shadow: 5px 5px 20px white;
          box-shadow: 5px 5px 20px white;
  padding: 7.23rem;
}

.wrapper .card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.wrapper .card__container .card {
  border-radius: 5px;
  min-width: 11.23rem;
  margin: 0.6rem;
  padding: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .card__container .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-bottom: 0.8rem;
  margin-top: .9rem;
}

.wrapper .card__container .card__header img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.wrapper .card__container .card__header__caption {
  padding-top: .3rem;
}

.wrapper .card__container .card__header__caption p {
  font-size: .7rem;
  opacity: 50%;
}

.wrapper .card__container .card__header__caption h4 {
  margin-bottom: 0rem;
}

.wrapper .card__container .card__article h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.wrapper .card__container .card__article p {
  opacity: 70%;
  line-height: 1.2;
}

.wrapper .card__container .violet {
  position: relative;
  background-color: #7541c8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.wrapper .card__container .violet .quotation {
  position: absolute;
  right: 12%;
  opacity: 80%;
  top: 0;
  width: 7.1rem;
}

.wrapper .card__container .violet .card__article {
  z-index: 2;
}

.wrapper .card__container .grayish-blue {
  background-color: #48556a;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 20;
}

.wrapper .card__container .white-tall {
  -webkit-box-shadow: 21px 25px 81px 1px #cfcfcf;
          box-shadow: 21px 25px 81px 1px #cfcfcf;
  background-color: white;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  grid-row: -3 / -1;
}

.wrapper .card__container .blackish-blue {
  background-color: #19212e;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 56;
}

.wrapper .card__container .white-short {
  -webkit-box-shadow: 21px 15px 81px 1px #cfcfcf;
          box-shadow: 21px 15px 81px 1px #cfcfcf;
  background-color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.wrapper .color-white {
  color: white;
}

.borderd {
  border: 2px solid #8a5fce;
}

.attribution {
  height: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.attribution a {
  text-decoration: none;
  font-weight: bold;
  color: #19212e;
}

.attribution a:hover {
  color: #7541c8;
  font-size: larger;
}

@media screen and (max-width: 902px) {
  .wrapper {
    padding: 1.5rem;
  }
  .wrapper .card__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .violet .quotation {
    right: 4%;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin: 5% auto;
  }
}
/*# sourceMappingURL=style.css.map */